.products-incart {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  margin:0 1rem;
}

.products-incart .products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* div de buttons */
.checkout-button {
  display: flex;
  border: black 2px solid;
  padding: 0.5rem;
  border-radius: 7px;
  border: unset;
  gap: 1em;
  justify-content: center;
  text-align: center;
}

.scroll-itens .product-price {
  visibility: hidden;
}

.scroll-itens .freeShipping {
  position: absolute;
  top: 0;
  left: -1rem;
  bottom: 6rem;
  transform: rotate(-45deg);
  font-size: small;
  text-shadow: 0 0 1px #000;
}
.shoppingCart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
}
.shoppingCart .card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll-itens .buttons-quantity {
  position: relative;
  bottom: 3.5rem;
  left: 13vw;
}
.scroll-itens .buttons-quantity button{
  border-radius: 7px;
  border: unset;
  padding: 5px 10px;
  font-size: 1.3rem;
  background-color: var(--mainColorButton);
  color: #ffffff;
}
.scroll-itens .buttons-quantity button:hover{
  background-color: var(--mainColor);
}

.scroll-itens .title-product {
  color: rgb(216, 53, 175);
  height: 3.5rem;
  font-size: 1rem;
}

.scroll-itens .card-infos {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0 1rem;
}

.scroll-itens > div{
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-item {
  padding: 0 0.5rem;
}

.checkout-button>button, .checkout-button a {
  background-color: #e42604f5;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.4rem;
  color: #ececeb;
  font-weight: 700;

}

.checkout-button>a {
  background-color: #03344bef;
}

.shoppingCart .scroll-itens {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 90vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  background: #090111;
  align-items: center;
}
.scroll-itens button{
  cursor: pointer;
}
.scroll-itens a {
  color: #4ff004;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
.remove-cart-item {
  position: relative;
  padding-left: 0.5rem;
  height: 100%;
  width: 1.5rem;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.remove-cart-item:hover {
  background-color: #e42604f5;
  color: #ececeb;
}