@media only screen and (max-width: 600px) {
  .image-card {
    width: 6em;
    height: 7em;
    padding-left: 0.3rem;
  }

  .products-container {
    height: 20vh;
    width: 80vw;

  }

  .products-container img {
    object-fit: contain;
  }

  .products-container:nth-child(1) {
    margin-top: 0.5rem;
  }

  .home-containers .card-container {
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 100vw;
    gap: 1em;
  }

  .home-containers .products-container button {
    background-color: #3c5fd4d5;
    border: none;
    color: rgb(181, 192, 182);
    font-size: large;
    cursor: pointer;
    border-radius: 0 7px 7px 0px;

  }

  .home-containers .products-container button:hover {
    background-color: var(--mainColor);
  }
  .title-product {
    color: rgb(31, 1, 26);
    font-size: 1rem;
    height: 2.5rem;
    overflow: hidden;
    transition: ease-in-out 0.2s;
  }

  .title-product:hover {
    overflow: auto;
  }

  .freeShipping {
    font-size: 1rem;
  }

  .card-infos div {
    display: flex;
    flex-direction: column;
  }

  .home-containers .card-infos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 7rem;
    padding: 2%;
  }

}

@media only screen and (min-width: 601px) {
  .home-containers .card-container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    border-radius: 7px;
  }

  .home-containers .products-container button {
    position: relative;
    bottom: 0.3rem;
    align-self: center;
    font-size: 1.3rem;
    width: 3rem;
    background-color:var(--titleAndFreeShipping);
    color: var(--cardBackgroundAndLinksHeaderColor);
    border: none;
    height: 2rem;
    cursor: pointer;
    border-radius: 3px;
    }

  .products-container {
    flex-direction: column;
    width: 13em;
    height: 17rem;
    border-radius: 1rem;
  }

  .image-card {
    width: 7em;
    height: 7em;
    padding: 0.3rem;
    padding-bottom: 0;
  }

  .title-product {
    font-size: 0.9rem;
    height: 3rem;
    overflow: hidden;
    transition: ease-in-out 0.2s;
    width: 90%;
    text-align: center;
  }

  .card-infos {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .card-infos div {
    justify-content: space-around;
    display: flex;
  }

  .freeShipping {
    position: relative;
    bottom: 0.5rem;
  }

}

.freeShipping {
  color: var(--collorPrice);
  text-shadow: 0 0 1px #000;
}

.home-containers .card-container {
  display: flex;
}
.home-containers .products-container {
  display: flex;
  justify-content: space-between;
  transform: scale(0.9);
  transition: ease-out 200ms all;
  background-color: var(--cardBackgroundAndLinksHeaderColor);
  border-radius: 7px;
}
.home-containers .product-price {
  height: max-content;
  color: var(--titleAndFreeShipping);
  font-size: 1.5em;
}
.home-containers .products-container:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.432);
  transform: scale(1);

}
.title-product {
  color: var(--colorGreyTitle);
  font-style: italic;
}