@media only screen and (max-width: 600px) {
  .products-incart {
    display: flex;
    align-items: center;
    background-color: var(--cardBackground);
    border-radius: 7px;
  }

  .scroll-itens>div:nth-child(1) {
    margin-top: 0.2rem;
  }

  .scroll-itens>div:last-child {
    margin-bottom: 1rem;
  }

  .checkout-button {
    gap: 1em;
    justify-content: center;
    text-align: center;
  }

  .scroll-itens .product-price {
    visibility: hidden;
  }

  .scroll-itens .freeShipping {
    position: absolute;
    top: 0;
    right: 14rem;
    bottom: 1rem;
    transform: rotate(-45deg);
    font-size: small;

  }

  .shoppingCart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
  }

  .shoppingCart .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .scroll-itens .buttons-quantity {
    bottom: 2.5rem;
    left: 15vw;
  }

  .scroll-itens .buttons-quantity button {
    border-radius: 7px;
    border: unset;
    font-size: 1.3rem;
    background-color: var(--mainColorButton);
    color: #ffffff;
  }

  .scroll-itens .buttons-quantity button:hover {
    background-color: var(--mainColor);
  }

  .scroll-itens .title-product {
    position: relative;
    bottom: 0.3rem;
    font-size: 1rem;
    height: 3.5rem;
  }

  .scroll-itens .product-price {
    color: var(--collorPrice);
    font-size: 1em;
  }

  .scroll-itens .card-infos {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    text-align: center;
  }

  .scroll-itens>div {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll-itens .price-item {
    padding: 0 0.3rem;
    font-size: 1.1rem;
    color: var(--titleAndFreeShipping);
  }

  .shoppingCart .scroll-itens {
    margin-top: 0.3rem;
    gap: 1rem;
    max-height: 90vh;
  }

  .scroll-itens a {
    color: #308b06;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
  }

  .remove-cart-item {
    position: relative;
    top: 0.2rem;
    padding-left: 0.5rem;
    height: 94%;
    width: 1.5rem;
    font-size: 1rem;
    border-radius: 0 7px 7px 0px;
  }

  .products-incart .products-container {
    height: 8rem;
    border-radius: 7px 0 0 7px;
  }
}

@media only screen and (min-width: 610px) {
  .shoppingCart .scroll-itens {
    height: 100vh;
    gap: 1rem;

  }

  .shoppingCart .scroll-itens .card-container {
    display: flex;
    align-items: center;
    height: 80%;
    gap: 1rem;
  }

  .scroll-itens .card-infos {
    align-self: center;
    justify-self: center;
  }

  .scroll-itens img {
    width: 8rem;
    object-fit: none;
    transform: scale(1.2);

  }

  .scroll-itens .products-incart {
    display: flex;
    align-items: center;
    background-color: var(--cardBackground);
    border-radius: 7px;
  }

  .products-incart .products-container {
    width: 28em;
    height: 12rem;
  }

  .scroll-itens:last-child {
    margin-bottom: 1rem;
  }

  .scroll-itens .product-price {
    visibility: hidden;
  }

  .scroll-itens .freeShipping {
    position: relative;
    top: 1rem;
  }

  .scroll-itens .title-product {
    overflow: auto;
    color: var(--colorGreyTitle);
    position: relative;
    top: 1.2rem;
    font-size: 1rem;
    height: 3.5rem;
  }

  .scroll-itens .buttons-quantity {
    display: flex;
    justify-self: center;
    color: var(--titleAndFreeShipping);
    font-size: 1.5em;
    bottom: 4rem;
    left: 4.5rem;
  }

  .scroll-itens .price-item {
    margin: 0 0.5rem;
  }

  .remove-cart-item {
    bottom: 4.9rem;
    right: 1.8rem;
    border-radius: 50%;
    font-size: 1.1rem;
  }

}

.shoppingCart .scroll-itens {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
}



.scroll-itens .buttons-quantity {
  position: relative;
}

.scroll-itens .buttons-quantity button {
  border-radius: 7px;
  border: unset;
  opacity: 0.8;
  padding: 5px 10px;
  font-size: 1.3rem;
  background-color: var(--titleAndFreeShipping);
  transition: all 200ms ease-in-out;
  color: var(--mainColor);
}

.scroll-itens .buttons-quantity button:hover {
  opacity: 1;
  color: var(--cardBackgroundAndLinksHeaderColor);
}

.remove-cart-item {
  position: relative;
  border: none;
  background-color: var(--redCollorRemovebtn);
  color: #ececeb;
  transition: all 200ms ease-in-out;
}

.remove-cart-item:hover {
  opacity: 1;
}

.checkout-button>button, .checkout-button a {
  background-color: var(--redCollorRemovebtn);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.4rem;
  color: #ececeb;
  font-weight: 700;
}

.checkout-button>a {
  background-color: #03344bef;
}

.checkout-button {
  display: flex;
  border: black 2px solid;
  padding: 0.5rem;
  border-radius: 7px;
  border: unset;
  gap: 1em;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.scroll-itens::-webkit-scrollbar, .scroll-itens .title-product::-webkit-scrollbar {
  display: none;
}

.scroll-itens button {
  cursor: pointer;
}

.products-incart .products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--cardBackgroundAndLinksHeaderColor);
}

.scroll-itens .title-product {
  color: var(--colorGreyTitle);
}