@media only screen and (max-width: 600px) {
.products-incart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--cardBackground);
  margin:0 1rem;
  border-radius: 7px;
}
.scroll-itens > div:nth-child(1){
  margin-top: 0.2rem;
}
.scroll-itens > div:last-child{
  margin-bottom: 1rem;
}
.products-incart .products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* div de buttons */
.checkout-button {
  display: flex;
  border: black 2px solid;
  padding: 0.5rem;
  border-radius: 7px;
  border: unset;
  gap: 1em;
  justify-content: center;
  text-align: center;
}

.scroll-itens .product-price {
  visibility: hidden;
}

.scroll-itens .freeShipping {
  position: absolute;
  top: 0;
  left: -1rem;
  bottom: 6rem;
  transform: rotate(-45deg);
  font-size: small;
 
}
.shoppingCart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 100%;
}
.shoppingCart .card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll-itens .buttons-quantity {
  position: relative;
  bottom: 3.5rem;
  left: 15vw;
}
.scroll-itens .buttons-quantity button{
  border-radius: 7px;
  border: unset;
  padding: 5px 10px;
  font-size: 1.3rem;
  background-color: var(--mainColorButton);
  color: #ffffff;
}
.scroll-itens .buttons-quantity button:hover{
  background-color: var(--mainColor);
}

.scroll-itens .title-product {
 position: relative;
  bottom: 1rem;
  font-size: 1rem;
  height: 3.5rem;
}
.scroll-itens .product-price {
  color: var(--collorPrice); 
  font-size: 2em;
}

.scroll-itens .card-infos {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0 1rem;
  text-align: center;
}

.scroll-itens > div{
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-itens .price-item {
  padding: 0 0.3rem;
  font-size: 1.4rem;
  color: var(--collorPrice);
}

.checkout-button>button, .checkout-button a {
  background-color: var(--redCollorRemovebtn);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  padding: 0.4rem;
  color: #ececeb;
  font-weight: 700;

}

.checkout-button>a {
  background-color: #03344bef;
}

.shoppingCart .scroll-itens {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 90vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
}
.scroll-itens::-webkit-scrollbar,.scroll-itens .title-product::-webkit-scrollbar {
  display: none;
}
.scroll-itens button{
  cursor: pointer;
}
.scroll-itens a {
  color: #308b06;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}
.remove-cart-item {
  position: relative;
  padding-left: 0.5rem;
  height: 100%;
  width: 1.5rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  background-color:var(--redCollorRemovebtn);
  color: #ececeb;
  opacity: 0.8;
  transition: all 200ms ease-in-out;
  border-radius: 0 7px 7px 0px;
}

.remove-cart-item:hover {
  opacity: 1;
  background-color: #e42604f5;
}
}