@media only screen and (max-width: 600px) {
.image-card {
  width: 6em;
  height: 7em;
  padding-left: 0.3rem;
}

.products-container {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  width: 80vw;
  transition: ease-out 200ms all;
  transform: scale(0.9);
  background-color: #FFFFFF;
}

.products-container:nth-child(1) {
  margin-top: 0.5rem;

}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100vw;
  gap: 1em;
}

.home-containers .products-container:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.432);
  transform: scale(1);

}

.products-container button {
  background-color: #3c5fd4d5;
  border: none;
  color: rgb(181, 192, 182);
  font-size: large;
  cursor: pointer;
  
}

.products-container button:hover {
  background-color: #0e2e97e8;
}


.title-product {
  color: rgb(31, 1, 26);
  font-size: 1.2em;
  max-width: fit-content;
  overflow: auto;
}

.product-price {
  color: rgb(106, 99, 211);
  font-size: 2.3em;
}

.freeShipping {
  font-size: 1rem;
}

.card-infos {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  padding: 2%;
  background-color: #ffffff;
}

.card-infos div {
  display: flex;
  flex-direction: column;
}


.freeShipping {
  color: rgb(31, 168, 31);
}

}