@media only screen and (max-width: 600px) {
.boleto{
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 75vw;
  margin: 1rem 0;
}
.boleto-top {
  border-right: 1px black solid;
  background-color: rgb(60, 37, 122);
  color: whitesmoke;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}
.boleto-top  span:first-child {
  color: rgb(19, 141, 25);
  border-right:solid 1px black;
}
.boleto-infos {
  align-self: center;
}

.boleto-valores {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.boleto-bottom {
  background-color: rgb(219, 217, 226);

}

.boleto-bottom img {
  width: 50vw;
  height: 7vh;
}

.boleto-middle-2 {
  background-color: rgb(60, 37, 122);
  display: flex;
  justify-content: start;
  color: whitesmoke;
  height: 3rem;
  font-size: small;
}
.boleto-middle-2 div{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50vw;
  padding: 2px 0;
}
.boleto-middle-1 {
  display: flex;
  background-color: rgb(219, 217, 226);
}
.boleto-middle-1 > span {
  flex: 30%;
}
.boleto-middle-1 div{
  padding: 5px;
  flex: 70%;
}
}