.checkout-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.checkout-main  section{
  display: flex;
  flex-direction: column;
  background-color: #500c91;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}
.checkout-main .total-p {
  margin-top: 20vh;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checkout-main select {
  margin-bottom: 2vh;
}

.checkout-main form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border-radius: 3px;
  width: 32.5vw;
  box-shadow: 0 0 9px rgba(14, 13, 13, 0.582);

}



.checkout-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0 0 9px rgba(14, 13, 13, 0.582);
}

.checkout-itens:hover {
  border: solid black 1px;
}

.checkout-main form input {
  width: 20vw;
  margin: 3vh 2vh 0 6vw;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.checkout-main form button {
  width: 8vw;
  margin: 4vh 12vw;
}


.card-credit {
  height: 35vh;
  width: 30vw;
  background: linear-gradient(to right, #0c0c0c, #500c91);
  border-radius: 7px;
  margin: 2vh;
  display: grid;
  grid-template-rows: 50fr 40fr 10fr;
  grid-template-columns: 10fr 80fr 10fr;
  grid-template-areas: '. . flag'
    'chip num info1'
    'logo name name';
  grid-gap: 1vw;

}

.card-number, .card-name {
  font-size: large;
  color: rgb(240, 227, 227);
}

.card-number {
  grid-area: num;
}

.card-chip {
  grid-area: chip;
}

.card-chip img {
  max-width: 5vw;
  max-height: 5vh;
  margin-left: 1vw;
  background-color: rgb(104, 100, 100);
}

.card-name {
  grid-area: name;
  text-align: center;
  margin: 3vh 15vh 3vh 3vh;
}

.card-flag {
  grid-area: flag;
  position: absolute;
  margin-left: 25vw;
}

.card-flag img {
  max-width: 5vw;
  max-height: 5vh;
  margin: 0.5vw;

}

.card-logo {
  grid-area: logo;
  height: 8vh;
}

.card-logo img {
  margin-left: 1vw;
  max-width: 5vw;
  max-height: 9vh;

}

.card-infos {
  grid-area: info1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: x-small;
  color: aliceblue;
  margin-right: 1.3vw;
  width: 4vw;
}

#info1, #info2 {
  font-size: 15px;
}

.section-itens-checkout {
  overflow-y: auto;
  max-height: 100vh;
}

.buy-button {
  margin-bottom: 2vh;
}

.boleto {
  display: grid;
  grid-template-areas:
    'titulo codigo'
    'infos valores'
    'usuario usuario'
    'barras barras';

  height: 55vh;
  width: 36vw;
  border: black solid;

  grid-template-columns: 30fr 60fr;
  border: 2px solid black;
  margin-top: 2vh;
}

.boleto-titulo {
  grid-area: titulo;
  border-right: 1px black solid;
  background-color: rgb(60, 37, 122);
  color: whitesmoke;
  border-bottom: 1px black solid;
}

.boleto-infos {
  grid-area: infos;

  align-self: center;
}

.boleto-valores {
  grid-area: valores;
  border-top: 1px black solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.boleto-barras {
  grid-area: barras;
  border-top: 1px black solid;

}

.boleto-barras img {

  width: 20vw;
  max-height: 10vh;
}

.boleto-usuario {
  grid-area: usuario;
  background-color: rgb(60, 37, 122);
  border-top: 1px black solid;
  display: grid;
  grid-template-areas: 'nome cpf'
    'endereco .'
    'cep .  ';
  color: whitesmoke;

}

.boleto-usuario span, .boleto-infos span {
  margin-left: 1vw;
  margin-top: 1vh;
}

.boleto-codigo {
  grid-area: codigo;
  text-align: center;
  font-size: x-large;
  background-color: rgb(60, 37, 122);
  color: whitesmoke;
}

.boleto-titulo span {
  position: relative;
  font-size: x-large;
}