@media only screen and (max-width: 600px) {
.checkout-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.checkout-main section:first-child {
  display: flex;
  flex-direction: column;
  background-color: #b4d10c;
  align-items: center;
  gap: 1rem;
  height: 35vh;
  transition: all 0.5s;
}

.checkout-main section:first-child::-webkit-scrollbar {
  display: none;
}

.checkout-main section:first-child:hover, .checkout-main section:first-child:focus {
  overflow: auto;
  height: 65vh;
}

.paymentsMethods-section {
  display: flex;
  flex-direction: column;
  background-color: #0b6e10;
  align-items: center;
  height: 65vh;
  overflow: auto;
  margin-bottom: 0.1rem;
  overflow: hidden;
  transition: all 0.5s;
}

.paymentsMethods-section:hover, .paymentsMethods-section:focus {
  overflow: auto;
  height: 95vh;

}

.paymentsMethods-section::-webkit-scrollbar, .checkout-itens-title::-webkit-scrollbar {
  display: none;
}

.checkout-main .total-p {
  text-align: center;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checkout-main select {
  margin-bottom: 2vh;
}

.checkout-main form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 3px;
  padding: 1rem;
  background-color: #520a0a;
  align-self: center;
  box-shadow: 0 0 9px rgba(14, 13, 13, 0.582);
}

.checkout-main form input {
  margin: 0 1rem;
  color: #333;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 0.4em;
}

.checkout-main form input:first-child {
  margin-top: 1rem;
}

.checkout-main form button {
  width: min-content;
  align-self: center;
}

.section-itens-checkout {
  overflow-y: auto;
  max-height: 100vh;
}

.buy-button {
  margin-bottom: 2vh;
}

.paymentsMethods-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.checkout-itens {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 9rem;
  background-color: var(--cardBackground);
  border-radius: 7px;
  transition: all 0.2s;
  gap: 1rem;
}

.checkout-itens p {
  color: var(--collorPrice);
  font-size: 1.5rem;

}

.checkout-itens img {
  height: 6rem;
}

.checkout-itens div {
  display: flex;
  flex-direction: column;
  height: 8em;

}

.checkout-itens-title {
  overflow: auto;
  height: 8em;
  width: 10rem;
  align-items: center;
  margin-top: 1rem;
}

.checkout-itens:hover {
  box-shadow: 0 0 9px 4px rgba(14, 13, 13, 0.582);

}

.checkout-main section:first-child section:first-child {
  background-color: var(--cardBackground);
  min-height: 9rem;
  flex-direction: row;
  margin-top: 1rem;
}

.checkout-main section:first-child section:last-child {
  margin-bottom: 1rem;
}
}