
.home-containers {
  display: flex;
  flex-direction: column;
  gap:0em;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}


.home-containers::-webkit-scrollbar{
  display: none;
} 
