@media only screen and (max-width: 600px) {
.home-containers {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}


}
@media only screen and (min-width: 601px) {
  .home-containers{
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem 3rem;
    align-self: center;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    justify-self: center;
    background-color: var(--BackColor);
  }
}
.home-containers{
  display: flex;
}
.home-containers::-webkit-scrollbar{
  display: none;
} 
.notFound-message{
text-align: center;
}