.main-profile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-profile section {
  box-shadow: 0px 1px 5px 2px rgb(0, 0, 0);
  position: relative;
  bottom: 2rem;
  width: 30rem;
  height: 85vh;
  background-color: var(--cardBackgroundAndLinksHeaderColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.main-profile section img {
  border-radius: 50%;
  width: 17rem;
}

.main-profile .container {
  display: flex;
  flex-direction: column;
}

.main-profile .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.main-profile button {
  background-color: var(--mainColor);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .main-profile section {
    width: 80vw;
    height: 80vh;
  }
  .main-profile section img {
    width: 15rem;
  }
  .main-profile .container {
    flex-direction: column;
  }
  .main-profile .user-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}
