@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
    height: 10vh;
    object-fit: contain;
    gap: 1rem;
  }

  footer span {
    color: #777;
    text-decoration: none;
    display: flex;
  }

  footer a:hover, footer p:hover {
    color: #fff;
  }

  
}

@media only screen and (min-width: 610px) {
  footer {
    text-align: center;
    font-size: 14px;
    height: 7vh;
    object-fit: contain;
    justify-content: space-between;
    padding: 0 2rem ;
  }
}

footer {
  background-color: var(--mainColorBlack);
  color: #777;
  display: flex;
  align-items: center;
}
footer span:hover{
  color: var(--mainOrangeColor);
}