
body {
  margin: 0;
  padding: 0;
font-family: monts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--BackColor);
      --mainColorBlack:#0d0d0d;
      --mainColorButton:#3c5fd4d5;
      --mainColorPurple:rgb(106, 99, 211);
      --redCollorRemovebtn:#e42604f5;
      --cardBackgroundAndLinksHeaderColor:#FFFFFF;
      --mainOrangeColor:#d95032;
      --BackColor:#f0dcf2;
      --colorGreyTitle:#6e6b6b;
}

button:active {
  transform: scale(0.9)
}

a {
  text-decoration: none
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttons-quantity {
  display: flex;
  flex-direction: column;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .logo-loading {
    position: relative;
    right: 5rem;
    height: 8rem;
    margin: 10em 20em 0 30em;
    animation: rotation-y infinite 1s alternate;
  }
}
.logo-loading {
  height: 12rem;
  margin: 10em 20em 0 30em;
  animation: rotation-y infinite 1s alternate;
}

@keyframes rotation-y {
  from {
    transform: rotateY(0deg);

  }

  to {
    transform: rotateY(360deg);
  }
}
