
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, .1);
      --mainColor:#0d0d0d;
      --mainColorButton:#3c5fd4d5;
      --collorPrice:rgb(106, 99, 211);
      --redCollorRemovebtn:#e42604f5;
      --cardBackgroundAndLinksHeaderColor:#FFFFFF;
      --titleAndFreeShipping:#d95032;
      --BackColor:#e2dcdc;
}

textarea {
  resize: none;
  height: 15vh;
}

button:active {
  transform: scale(0.9)
}

a {
  text-decoration: none
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.nav-home-link a {
  font-size: x-large;
  margin: 2vw 4.5%;
  color: rgb(253, 8, 212);
}

.buttons-quantity {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* rating */
.rating {
  margin-left: 35em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1em;
  height: 20em;


}

.rating button {
  width: 4em;
  height: 2em;
  margin-left: 6em;
}

/* loading */
.logo-loading {
  margin: 10em 20em 0 30em;
  animation: rotation-y infinite 1s alternate;
}

@keyframes rotation-y {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);
  }
}

/* responsive navbar */