
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, .1);
      --mainColor:#0e2e97e8;
      --mainColorButton:#3c5fd4d5;
      --collorPrice:rgb(106, 99, 211);
      --redCollorRemovebtn:#e42604f5;
      --cardBackground:#FFFFFF;
      
}

textarea {
  resize: none;
  height: 15vh;
}

button:active {
  transform: scale(0.9)
}

a {
  text-decoration: none
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* pagina detalhes */
.card-details {
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  max-width: 45em;
  border-radius: 7px;
  margin: 3em 22em;
  text-align: center;
  box-shadow: 0 0 9px rgba(14, 13, 13, 0.582);

}

.shipping {
  font-size: large;
  text-shadow: 2px 2px 2px rgba(160, 145, 145, 0.582);
}

.card-details button {
  margin-bottom: 1em;
  height: 4vh;
  color: rgb(2, 2, 124);
  font-weight: 700;
  background-color: rgb(209, 208, 204);
  border-radius: 3px;
  border: black solid 1px;
  opacity: 0.7;
}

.card-details button:hover {
  opacity: 1;
}

.card-details img {
  max-height: 18em;
  min-width: 10em;
  border-radius: 7px;

}


.details-pag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-home-link {
  display: flex;
  justify-content: space-between;
}

.nav-home-link h2 {
  display: flex;
  flex-direction: column;
}

.nav-home-link h1 {
  position: relative;
  font-size: xx-large;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.nav-home-link a {
  font-size: x-large;
  margin: 2vw 4.5%;
  color: rgb(253, 8, 212);
}

.buttons-quantity {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* rating */
.rating {
  margin-left: 35em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1em;
  height: 20em;


}

.rating button {
  width: 4em;
  height: 2em;
  margin-left: 6em;
}

/* loading */
.logo-loading {
  margin: 10em 20em 0 30em;
  animation: rotation-y infinite 1s alternate;
}

@keyframes rotation-y {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);
  }
}

/* responsive navbar */