body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, .1);

}

textarea {
  resize: none;
  height: 15vh;
}

button:active {
  transform: scale(0.9)
}

a {
  text-decoration: none
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* products cards */






/* pagina detalhes */
.card-details {
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
  max-width: 45em;
  border-radius: 7px;
  margin: 3em 22em;
  text-align: center;
  box-shadow: 0 0 9px rgba(14, 13, 13, 0.582);

}

.shipping {
  font-size: large;
  text-shadow: 2px 2px 2px rgba(160, 145, 145, 0.582);
}

.card-details button {
  margin-bottom: 1em;
  height: 4vh;
  color: rgb(2, 2, 124);
  font-weight: 700;
  background-color: rgb(209, 208, 204);
  border-radius: 3px;
  border: black solid 1px;
  opacity: 0.7;
}

.card-details button:hover {
  opacity: 1;
}

.card-details img {
  max-height: 18em;
  min-width: 10em;
  border-radius: 7px;

}




.details-pag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-home-link {
  display: flex;
  justify-content: space-between;
}

.nav-home-link h2 {
  display: flex;
  flex-direction: column;
}

.nav-home-link h1 {
  position: relative;
  font-size: xx-large;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.nav-home-link a {
  font-size: x-large;
  margin: 2vw 4.5%;
  color: rgb(253, 8, 212);
}

.buttons-quantity {
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* rating */
.rating {
  margin-left: 35em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1em;
  height: 20em;


}

.rating button {
  width: 4em;
  height: 2em;
  margin-left: 6em;
}



/* Podutos no carrinho */

.products-incart {
  display: flex;
  margin: 1em auto;
  justify-content: space-between;
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 3px;
  width: 35vw;
}

.products-incart .products-container {
  box-shadow: none;
}

.remove-cart-item {
  height: 20%;
  border: none;
  font-size: x-large;
  color: white;
  border-radius: 3px;
  background-color: rgb(233, 7, 7);
  opacity: 0.5;
}

.remove-cart-item:hover {
  opacity: 1;
}

.quantity {
  margin: 0 1vw;
}

.price-item {
  margin: 2em auto;
  font-size: x-large;
}

.shoppingCart {
  display: flex;
  justify-content: space-around;
}

.shoppingCart .ad {
  width: 30vh;
  height: 100vh;
  background: content-box;
}

.ad {
  max-width: 80em;
  max-height: 17vh;
  margin-left: 35%;
}

.ad:hover {
  border: solid 2px black;
}

.scroll-itens {
  overflow-y: auto;
  overflow-x: none;
  min-height: 66.2vh;
  max-height: 150vh;
}

#removeCart {
  margin-top: 5em;
  border-radius: 7px;
  font-size: medium;
  background-color: red;
  color: white;
  border: unset;
  font-weight: 700;

}

/* checkout */
.checkout-button {
  position: fixed;
  margin-left: 55vw;
  border: black 2px solid;
  padding: 1%;
  background-color: #3E5992;
  border-radius: 7px;
  border: unset;
}

.checkout-button a {
  color: #ececeb;
  font-weight: 700;
}

.checkout-main {
  display: flex;
  justify-content: space-around;
}

.checkout-main .total-p {
  margin-top: 20vh;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checkout-main select {
  margin-bottom: 2vh;
}

.checkout-main form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border-radius: 3px;
  width: 32.5vw;
  box-shadow: 0 0 9px rgba(14, 13, 13, 0.582);

}

.checkout-main section {
  margin-bottom: 5vh;
}

.checkout-itens {
  display: grid;
  background-color: whitesmoke;
  grid-template-areas: 'img titulo'
    'img price';

  border-radius: 4px;
  margin: 1vh 0;
  max-width: 34vw;
}

.checkout-itens:hover {
  border: solid black 1px;
}

.checkout-main form input {
  width: 20vw;
  margin: 3vh 2vh 0 6vw;
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.checkout-main form button {
  width: 8vw;
  margin: 4vh 12vw;
}

.checkout-itens img {
  height: 20vh;
  max-width: 40vh;
  grid-area: img;
}

.checkout-itens span {

  grid-area: titulo;
  margin: 2vh 1vw;
}

.checkout-itens p {
  grid-area: price;
  font-size: large;
  margin: 0 6vw;
}

.card-credit {
  height: 35vh;
  width: 30vw;
  background: linear-gradient(to right, #0c0c0c, #500c91);
  border-radius: 7px;
  margin: 2vh;
  display: grid;
  grid-template-rows: 50fr 40fr 10fr;
  grid-template-columns: 10fr 80fr 10fr;
  grid-template-areas: '. . flag'
    'chip num info1'
    'logo name name';
  grid-gap: 1vw;

}

.card-number, .card-name {
  font-size: large;
  color: rgb(240, 227, 227);
}

.card-number {
  grid-area: num;
}

.card-chip {
  grid-area: chip;
}

.card-chip img {
  max-width: 5vw;
  max-height: 5vh;
  margin-left: 1vw;
  background-color: rgb(104, 100, 100);
}

.card-name {
  grid-area: name;
  text-align: center;
  margin: 3vh 15vh 3vh 3vh;
}

.card-flag {
  grid-area: flag;
  position: absolute;
  margin-left: 25vw;
}

.card-flag img {
  max-width: 5vw;
  max-height: 5vh;
  margin: 0.5vw;

}

.card-logo {
  grid-area: logo;
  height: 8vh;
}

.card-logo img {
  margin-left: 1vw;
  max-width: 5vw;
  max-height: 9vh;

}

.card-infos {
  grid-area: info1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: x-small;
  color: aliceblue;
  margin-right: 1.3vw;
  width: 4vw;
}

#info1, #info2 {
  font-size: 15px;
}

.section-itens-checkout {
  overflow-y: auto;
  max-height: 100vh;
}

.buy-button {
  margin-bottom: 2vh;
}

.boleto {
  display: grid;
  grid-template-areas:
    'titulo codigo'
    'infos valores'
    'usuario usuario'
    'barras barras';

  height: 55vh;
  width: 36vw;
  border: black solid;

  grid-template-columns: 30fr 60fr;
  border: 2px solid black;
  margin-top: 2vh;
}

.boleto-titulo {
  grid-area: titulo;
  border-right: 1px black solid;
  background-color: rgb(60, 37, 122);
  color: whitesmoke;
  border-bottom: 1px black solid;
}

.boleto-infos {
  grid-area: infos;

  align-self: center;
}

.boleto-valores {
  grid-area: valores;
  border-top: 1px black solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.boleto-barras {
  grid-area: barras;
  border-top: 1px black solid;

}

.boleto-barras img {

  width: 20vw;
  max-height: 10vh;
}

.boleto-usuario {
  grid-area: usuario;
  background-color: rgb(60, 37, 122);
  border-top: 1px black solid;
  display: grid;
  grid-template-areas: 'nome cpf'
    'endereco .'
    'cep .  ';
  color: whitesmoke;

}

.boleto-usuario span, .boleto-infos span {
  margin-left: 1vw;
  margin-top: 1vh;
}

.boleto-codigo {
  grid-area: codigo;
  text-align: center;
  font-size: x-large;
  background-color: rgb(60, 37, 122);
  color: whitesmoke;
}

.boleto-titulo span {
  position: relative;
  font-size: x-large;
}

/* loading */
.logo-loading {
  margin: 10em 20em 0 30em;
  animation: rotation-y infinite 1s alternate;
}

@keyframes rotation-y {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);
  }
}

/* responsive navbar */